<div class="card">
  <div class="card-head">
    <img class="card-img-top" src="{{fruta.foto}}" alt="Card image cap">
    <span *ngIf="fruta.oferta" class="descuento">{{fruta.descuento}} %</span>
    <span class="calorias">{{fruta.calorias}} Kcal</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{fruta.nombre}}</h5>
    <p *ngIf="!fruta.oferta" class="card-text text-success">{{fruta.precio}} €</p>
    <p *ngIf="fruta.oferta" class="card-text text-success"><del class="card-text text-danger">{{fruta.precio}}</del> {{(fruta.precio - (fruta.precio*fruta.descuento)/100) | number:'1.2-2'}} €</p>
  </div>
</div>

<section class="jumbotron text-center">
  <div class="container">
     <!-- comparador -->
  <div *ngIf="fruta2">
    <p>La diferencia de precio sin descuento es: <span class="{{(fruta.precio - fruta2.precio > 0) ? 'positivo' : 'negativo'}}">{{fruta.precio - fruta2.precio | number:'1.2-2'}}</span> €</p>
    <p>La diferencia de calorias es: <span class="{{(fruta.precio - fruta2.precio > 0) ? 'negativo' : 'positivo'}}">{{fruta.calorias - fruta2.calorias | number:'1.2-2'}}</span> Kcal</p>
  </div>
  </div>
</section>
