<div class="container">
<h2>Comparador</h2>
  
<hr>
<h6>Filtros</h6>
<div class="row">
    <div class="col col-3">
        <p><input (change)="filtrar()" type="checkbox"><span class="badge badge-secondary">{{ofertaFiltro}}</span> </p>
      </div>
    <div class="col col-3">
        <div class="input-group mb-3">
          <input type="text" [(ngModel)]="nombre" class="form-control" placeholder="Buscar...">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
        </div>
      </div>
</div>
<hr>

  <div class="row">
    <div class="col-2 bg-light">
      
      <ul class="list-group">
        <li *ngFor="let f of frutas | descuento : todas  | buscador:nombre" (click)="seleccionar(f)" class="list-group-item"
          [class.active]="f == f1 || f == f2">{{f.nombre}}</li>
      </ul>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-5">
          <app-card [_fruta]="f1" [_fruta2]="f2" (clikCompra)="actualizarCarro($event)"></app-card>
        </div>
        <div class="col-5">
          <app-card [_fruta]="f2" [_fruta2]="f1" (clikCompra)="actualizarCarro($event)"></app-card>
        </div>
      </div>
    </div>

    <div class="col-2 carrito" [hidden]="getTotal()===0">
      <h6>Compra <i class="fas fa-shopping-cart"></i></h6>
      <hr>
      <p>TOTAL <span>{{getTotal() | number:'1.2-2'}} €</span></p>
      <ul class="list-group">
        <li *ngFor="let p of carrito, let i = index" class="list-group-item">
          <span (click)="eliminarProducto(p,i)" class="badge badge-danger float-right">X</span>
          <p>
            <img src="{{p.foto}}" alt="imagen de la fruta {{ p.nombre }}">
            <span class="nombre">{{ p.nombre }}</span><br>
            <span *ngIf="!p.oferta" class="precio">{{ p.precio | number:'1.2-2' }} €</span>
            <span *ngIf="p.oferta" class="precio">{{p.precio - (p.precio*p.descuento)/100 | number:'1.2-2'}}</span>

          </p>
          <p>
            <button class="btn" (click)="sumarProducto(p,i)">+</button>
            <span class="cantidad">{{ p.cantidad }}</span>
            <button class="btn" (click)="restarProducto(p,i)">-</button>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
