.imgFruta{
    width:25%;
}
h6{
    text-align: center;
}
.display{
    th{
        background-color: #626E8F;
        color: #fff;
    }
    text-align: center;
}
.btn{
    align-content: center;
    margin-left:20rem;
}
.input{
    margin-left:15rem;
}